.Typed {
    font-size: inherit;
    
    .typed-cursor {
        font-size: inherit;
        opacity: 1;
        animation: typedjsBlink 1s infinite;
    }

    .typed-cursor.typed-cursor--blink {
        font-size: inherit;
        opacity: 1;
        animation: typedjsBlink 1s infinite;
    }
}

@keyframes typedjsBlink {
    50% { opacity: 0.0; }
}

@-webkit-keyframes typedjsBlink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% {opacity: 1; }
}